<!DOCTYPE html>

<html lag="en">

    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>

    <body>

        <form action="/create/createCustomer" method="post">
            <label for="username">Username</label>
            <input type="text" id="username" name="username">
            
            <label for="name">Username</label>
            <input type="text" id="name" name="name">
            
            <label for="email">Username</label>
            <input type="email" id="email" name="email">
            
            <label for="password">Username</label>
            <input type="password" id="password" name="password">

            <input type="submit" value="Submit">
            
            
        </form>

    </body>

</html>